* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans MT";
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(0, 208, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    
    border: 3px solid black;
    position: relative;
    
}

#storiyan {
    height: 100px;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid black;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#storiyan::-webkit-scrollbar{
    display: none;
}

.story {
    background: linear-gradient(rgb(255, 174, 0), orange, rgb(255, 32, 69), purple, blue);
    padding: 2px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}


#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
    border-radius: 1rem;
}